<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>SLD Test Home</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  
  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
  
</head>

<body>

      
        <h1>Specific Learning Disability Test</h1>
        <h5>Sample Text</h5>
        <p><em>Uses an inset box shadow for the bordered effect on the  state.</em></p>
        <br>
        <h2>Select Test : </h2>
        <div class="container">
  
            <div class="row">
              <div class="box">
                <figure class="card ex1">
                  <div class="image1"></div>
                  <figcaption class="block">
                    <h3><span>Dysgraphia</span></h3>
                    <p>A learning disability that affects writing abilities</p>
                    <a href="dysg.html">View more</a>
                  </figcaption> 
                </figure>
              </div>
              <div class="box">
                <figure class="card ex1">
                  <div class="image2"></div>
                  <figcaption class="block">
                    <h3><span>Auditory Processing Disorder</span></h3>
                    <p>Hearing problem from lack of coordination b/w ears & brain</p>
                    <a href="audi.html">View more</a>
                  </figcaption> 
                </figure>
              </div>
              <div class="box">
                <figure class="card ex1">
                  <div class="image3"></div>
                  <figcaption class="block">
                    <h3><span>Generalized Anxiety Disorder</span></h3>
                    <p>Severe, ongoing anxiety that interferes with daily activities</p>
                    <a href="anxi.html">View more</a>
                  </figcaption> 
                </figure>
              </div>
              
            
              
            </div>
            
          </div>
          
<BR><BR><BR><BR><BR>

</body>

</html>
